$primary: #845ec2;
$navbar-light-brand-hover-color: #845ec2;
$focus-ring-color: #845ec2;
$light: #845ec2;
$badge-border-radius: 50px;
$badge-font-weight: 400;


@import "../client/node_modules/bootstrap/scss/bootstrap.scss";
